.navtop {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
    background: var(--color-white);
    
}

.navtop__logo {
    width: 30%;
    padding-left: 6rem;
    font-size: 2.5rem;
    color: var(--color-primary);
}

.navtop__contact {
    display: flex;
    justify-content: center;
    width: 30%;
}

.navtop__contact__detail {
    display: flex;
    align-items: center;
    margin: 0 2rem;
}

.navtop__contact__detail svg {
    width: 2rem;
    height: 2rem;
    fill: var(--color-primary);
    margin-right: 1rem;
}



.navtop__socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.navtop__socialMedia svg {
    width: 2rem;
    height: 2rem;
    margin: 0 1.5rem;
    fill: var(--color-primary);
}

.navtop__cta .drop-down-list {
    width: 12rem;
}

.navtop__cta .drop-down-list__value {
    font-size: var(--font-size-xl);
    color: var(--color-primary);
    font-size: 1.2rem;
}

.navtop__cta .drop-down-list__value svg {
    width: 1.5rem;
    height: 1.5rem;
    position: unset;
    transform: translateX(-.5rem);
}