.home-inventory {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 5rem;
}
