.home-inventory {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem 0;
}


.home-inventory__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 25rem);
    grid-template-rows: repeat(auto-fit, 25rem);
    grid-auto-rows: 25rem;   
    column-gap: 1.5rem;
    row-gap: 3rem;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;

    
   
}

