.home-inventory {

    grid-column: 2 / 4;
    grid-row: 4 / 5;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 2rem 0;
}


.home-inventory__list {
    width: 100%;


    display: grid;
    grid-template-columns: repeat(auto-fit, 25rem);
    grid-template-rows: repeat(auto-fit, 25rem);
    grid-auto-rows: 25rem;
   
    column-gap: 1.5rem;
    row-gap: 3rem;
    padding: 2rem 0;


    justify-content: center;
    align-items: center;

    
   
}

.home-inventory__list__item {
    width: 25rem;
    height: 25rem;
    list-style: none;
    transition: all .3s ease-in;
    cursor: pointer;
}

.home-inventory__list__item:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transform: scale(1.02)
}

.home-inventory__list__item__img {
    object-fit: cover;
    width: 100%;
    height: 60%;
    border-radius: 3px;
}

.home-inventory__list__item__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25%;
    border-bottom: 1px solid var(--color-grey);
}

.home-inventory__list__item__details__model {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    padding-left: 1rem;
    
    text-transform: uppercase;
    font-weight: 700;
} 

.home-inventory__list__item__details__model span:nth-child(1){
    font-size: 1.4rem;
}

.home-inventory__list__item__details__model span:nth-child(2){
    font-size: 1.2rem;
    color: var(--color-grey);
}

.home-inventory__list__item__details__price {
    height: 50%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.3rem;
    padding: 0 .5rem;
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: 3px;
}

.home-inventory__list__item__details__specList {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15%;
    color: var(--color-grey);
}


.home-inventory__list__item__details__specList__item {
    display: flex;
    align-items: center;   
    height: 100%;

}

.home-inventory__list__item__details__specList__item svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: .5rem;
    fill: var(--color-grey);
}