.chat {
    width: 6rem;
    height: 6rem;
    position: fixed;
    bottom : 2rem;
    right: 2rem;
    background-color: white;
    z-index: 20;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -5px 3px 17px -9px rgba(26,26,26,1);
}

.chat__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.chat__icon svg {
    width: 60%;
    height: 60%;
    fill: var(--color-primary)
}


.chat__messages {
    position: fixed;
    width: 0;
    height: 0;
    background: white;
    z-index: 20;
    bottom: 9rem;
    right: 2rem;
    border-radius: 1rem;
    box-shadow: -5px 3px 17px -9px rgba(26,26,26,1);
    transition: all .3s ease-in;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chat__messages.show {
    width: 30rem;
    height: 40rem;
}

.chat__messages__header {
    background: var(--color-primary);
    display: flex;
    align-items: center;
    padding: 1rem;
    color: var(--color-white);
    font-size: var(--font-size-xl);
}

.chat__messages__header svg {
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    cursor: pointer;
}

.chat__messages__header span {
    cursor: pointer;
}
.chat__messages__header span:hover {
    text-decoration: underline;
}

.chat__messages__body {
    flex: 1;
}

.chat__messages__input {
    display: flex;
    align-items: center;
    padding: .5rem 0;
    padding-left: .5rem;
    border-top: 1px solid var(--color-grey-light)
}

.chat__messages__input svg {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    fill: var(--color-grey);
    cursor: pointer;
}

.chat__messages__input textarea {
    border: none;
    width: 100%;
}

.chat__messages__input textarea:focus {
    outline: none;
}



