.navbarFiller {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    height: 6rem;
    background: red;
}
.navbarContainer {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    height: 6rem;
    background: var(--color-dark-light);
    display: flex;
    align-items: center;
    position: relative;
    /* transition: all .3s ease; */
    z-index: 2;   
}

.navbarContainer.fixed {
    position: fixed;
    width: 100%;
    z-index: 26;   
}

.navbar__cta {
    position: absolute;
    right: 5rem; 
    top: 0;
    bottom: 0;
    margin: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__cta a {
    color: var(--color-white);
    font-size: 1.4rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: .7rem 2rem;
    border-radius: .5rem;

}

.navbar__cta a:hover {
    background: var(--color-primary);
}

.navbar__cta a svg {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    fill: var(--color-white)
}

.navbar__cta__avatar {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-white);
    border-radius: 50%;  
    border: 1px solid var(--color-primary);
    cursor: pointer;
    position: relative;
}

.navbar__cta__avatar span {
    font-size: 1.4rem;
    color: var(--color-primary);
}

.navbar__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 20rem;
    height: 100%;
}

.navbar__list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--color-grey);
    padding: 0 2rem;
    text-transform: capitalize;
}

.navbar__list__item:hover {
    color: var(--color-white);
}

.navbar__list a.active {
    background: var(--color-primary);
    color: var(--color-white);
}