.navbarContainer {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    height: 5rem;
    background: var(--color-dark-light);
    display: flex;
    align-items: center;
    position: relative;
    transition: all .3s ease-in;
    z-index: 2;
    
}

.navbar__cta {
    position: absolute;
    right: 5rem; 
    top: 0;
    bottom: 0;
    margin: auto !important;

    display: flex;
    align-items: center;
    justify-content: center;


}

.navbar__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 20rem;
    height: 100%;
}

.navbar__list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    text-transform: lowercase;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--color-grey);
    padding: 0 2rem;
}

.navbar__list__item:hover {
    color: var(--color-white);
}

.navbar__list a.active {
    background: var(--color-primary);
    color: var(--color-white);
}