.home-search{
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    background: var(--color-grey);
    padding: 6rem 0;
}


.home-search__cta {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}