.home-contact {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    background-image: 
    linear-gradient(rgba(12, 12, 12, 0.616), rgba(12, 12, 12, 0.616)),
    url('../../../assets/img/help.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0;
}

.home-contact__title {
    text-transform: uppercase;
    color: var(--color-white);
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

@media (max-width: 850px){
    .home-contact__title {
        font-size: 2.5rem;
      }
}

@media (max-width: 385px){
    .home-contact__title  {
        font-size: 2rem;
      }
}

.home-contact__text {
    max-width: 90%;
    color: var(--color-grey-light);
    font-size: 1.4rem;
    margin-bottom: 4rem;
    text-align: justify;
}

.home-contact__form {
    width: 40rem;
    color: var(--color-white);
    background: var(--color-white);
    border-radius: .5rem;
}

@media (max-width: 402px){
    .home-contact__form{
        width: 80%;
      }
}




.home-contact__form .auth__form {
    border: none;
    
}


.home-contact__form input:-webkit-autofill,
.home-contact__form  input.input{
    background: transparent !important;
    color: var(--color-white) !important;
}


