.home {
  grid-column: 1 / -1;
  grid-row: 3 / 4;


  display: grid;
  grid-template-columns: 1fr repeat(2, 40vw) 1fr;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;




  min-height: 100vh;
  background: red; 
}