.footer {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    /* min-height: 60vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    background: var(--color-dark);
    color: var(--color-white);
    padding-top: 3rem;
}

@media (max-width: 624px){
    .footer   {
      min-height: calc(100vh - 8rem)
    }
}

.footer.hide {
    display: none;
}
.footer__title {
    font-size: 1.3rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1rem;
}


.footer__list {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
}   

@media (max-width: 850px){
    .footer__list   {
     width: 90%;
    }
}

@media (max-width: 297px){
    .footer__list{
        width: 100%;
    }
}


.footer__list__group {
    width: 100%;
    max-width: 120rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.footer__list__group:last-child {
    margin-bottom: 8rem;
}


@media (max-width: 850px){
    .footer__list__group {
    justify-content: space-around;
    }
    .footer__list__group:first-child   {   
     margin-bottom: 4rem;    
    }
}

@media (max-width: 624px){
    .footer__list__group   {
       flex-direction: column;
       align-items: center;
    }
    .footer__list__group:first-child   {   
        margin-bottom: 0;    
       }
}




.footer__list__item {
    width: 25%;
}

.footer__list__item:first-child {
    width: 40%;
}

@media (max-width: 624px){
    .footer__list__item, 
    .footer__list__item:first-child {
        width: 60%;
        margin: 2rem 0
    }

    .footer__list__group:last-child .footer__list__item:first-child {
        order: 2;
    }

    .footer__list__group:last-child .footer__list__item:last-child {
        order: 1;
    }

}

@media (max-width: 414px){
    .footer__list__item, 
    .footer__list__item:first-child  {
        width: 80%;
    }
}

.footer__list__item__list {
    list-style: none;
}

.footer__list__item__list__item {
    padding: .5rem 0;
}

.footer__list__item__list__item a {
    text-decoration: none;
    color: var(--color-white)
}

.footer__list__item__list__item .drop-down-list__list__item,
.footer__list__item__list__item .drop-down-list__value {
    color: black;
}



.footer__list__item input {
    height: 4rem;
    border-radius: .5rem;
    border:none;
    padding-left: 1rem;
    width: 20rem;
}

.footer__list__item input:focus {
    outline: none;
}



.footer__inputContainer {
    display: flex;
    align-items: center;
    height: 4rem;
    margin-bottom: 1rem;
}

.footer__inputContainer svg {
    width: 2rem;
    height: 2rem;
    fill: var(--color-primary);
    cursor: pointer;
}
.footer__input {
  margin-right: 2rem;
}



.footer__socialNetwork__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
}


.footer__socialNetwork__list svg {
    width: 2rem;
    height: 2rem;
    fill: var(--color-primary);
}

@media (max-width: 624px){
    .footer__socialNetwork__list {
        width: unset;
        justify-content: center;
        }  
    .footer__socialNetwork__list svg {
            margin: 0 1rem;        
        }
} 





.footer__copyRight {
    width: 80%;
    max-width: 120rem;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--color-grey);
  
}


@media (max-width: 624px){ 
.footer__copyRight {
    /* padding-bottom: 3rem; */
    width: 90%;
    }  
} 


