.account {
    grid-column: 1 / -1;
    min-height: calc(100vh - 11rem);
    max-height: calc(100vh - 11rem);
    overflow-y: hidden;
    display: flex;
    position: relative;
}

.account__sidebar {
    width: 20rem;
    height: calc(100vh - 11rem);
    background: var(--color-grey-light);
    position: relative;
}

.account__sidebar__logout {
    position: absolute;
    bottom: 5rem;
    left: 0;
    right: 0;
    margin: auto;
    padding: 1rem;
    width: 60%;
    background: var(--color-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    font-size: var(--font-size-md);
    color: var(--color-white);
    cursor: pointer;
}


.account__sidebar__list {
       
}

.account__sidebar__list__item {
    padding: 1.5rem 0;
    padding-left: 2rem;
    border-bottom: 1px solid var(--color-grey);
    text-transform: uppercase;  
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--color-grey)
}

.account__sidebar__list__item svg {
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    fill: var(--color-grey)
}

.account__sidebar__list__item:hover {
    background: rgb(218, 217, 217);
}

.account__sidebar__list__item.active {
    background: var(--color-primary);
    color: var(--color-white);
    border-bottom: 1px solid var(--color-primary);
}

.account__sidebar__list__item.active svg {
    fill: var(--color-white)
}
.account__sidebar__list__item.active:hover {
    background: var(--color-primary);
}


.account__currentSection {
    width: calc(100vw - 20rem);
    height:calc(100vh - 11rem);
}

.account__productList {
    width: calc(100vw - 20rem);
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 25rem);
    grid-template-rows: repeat(auto-fit, 25rem);
    grid-auto-rows: 25rem;
    column-gap: 1.5rem;
    row-gap: 3rem;
    padding: 2rem 0;
    height: 300vh;
    background: red;
}

