.car__cta {
    width: 30%;
    padding: 1rem 2rem;


   
}

.car__cta__price {
    background: var(--color-primary);
    font-size: 3rem;
    padding: 1rem 0;
    text-align: center;
    font-weight: 600;
    color: var(--color-white);
    border-radius: 3px;
}

.car__cta__calculator {

    margin: 1rem 0;
  
}

.car__cta__calculator__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    background: rgb(224, 224, 224);
    padding: 1rem;
   

}

.car__cta__calculator__item__key {
    font-weight: 600;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    height: 3rem;
    
}

.car__cta__calculator__item__key span {
    margin-right: 1rem;
}

.car__cta__calculator__item__key svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--color-primary);
    transform: translateY(-.5rem);
    cursor: pointer;
}

.car__cta__calculator__item__keyContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.car__cta__calculator__item__keyContainer span {
    margin-bottom: .5rem;
}

.car__cta__calculator__item__value {
    font-size: 1.4rem;
    color: var(--color-grey);
}


.car__cta__calculator__item__select {
    cursor: pointer;
}






.todo {
    margin-bottom: 1rem;

}

.car__cta__appointment {
    background: rgb(224, 224, 224);
    
}

.car__cta__appointment__title {
    background: var(--color-primary);
    width: 100%;
    font-size: 1.6rem;
    padding: .5rem 1rem;
    text-align: center;
    color: var(--color-white);
    margin-bottom: 1rem;
}

.car__cta__appointment__body {
    padding: 0 1rem;
}

.car__cta__appointment__detail {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;  
}

.car__cta__appointment__detail__key {
    display: flex;
    align-items: center;
    
}

.car__cta__appointment__detail__date {
    position: relative;
}

.car__cta__appointment__detail__date__value {
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: white;
  width: 16rem;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: .5rem;
}

.car__cta__appointment__button {
    display: flex;
    align-items: center;
    justify-content: center;
}


.react-datepicker-wrapper {
    position: relative;
    opacity: 0;
    z-index: 2;
}

input {
    cursor: pointer;
}



select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
  }
  
  /* For IE10 */
  select::-ms-expand {
    display: none;
  }


  .react-datepicker {
      width: 18rem;
    
  }
  .react-datepicker__triangle {
      display: none;
  }

  .react-datepicker__month-container {
    width: 100%;
  }