.inventory {
    grid-column: 2 / 4;
    min-height: 100vh;
    width: 110%
}


.inventory__list {
    display: grid;
   
    grid-template-columns: repeat(auto-fit, 25rem);
    grid-template-rows: repeat(auto-fit, 25rem);
    grid-auto-rows: 25rem;
   
    column-gap: 1.5rem;
    row-gap: 3rem;
    padding: 2rem 0;
}