.inventory {
    grid-column: 1 / -1;
    min-height: calc(100vh - 11rem);
    display: flex;
    flex-direction: column;
}

.inventory__loader {
    width: 100vw;
    height: calc(100vh - 11rem);;
}

@media (max-width:850px){
    .inventory  {
        margin-top: 8rem;
        min-height: calc(100vh - 8rem);
    }
    .inventory__loader {
        height: calc(100vh - 8rem);
    }
}
.inventory__container { 
    width: 80%;
    align-self: center;
}

@media (max-width: 750px){
    .inventory__container {
        width: 100%;
    }
}


@media (max-width: 410px){
    .inventory  .inventory__controller {
        grid-template-columns: 20rem;
    }
}



